@use '../../styles/mixins.scss' as *;

.categories-section {
    margin-bottom: 2.5rem;

    &__list {
        position: relative;
        padding: 0 1rem 1rem;
        display: grid;
        gap: 1rem;
        overflow: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
        @include hide-scrollbar;

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 0.7rem 1rem;
        color: #ffffff;
        border-radius: 0.8rem;
        transition: background-color, color 0.2s;
        cursor: pointer;

        //&_dark {
        //    border: 1px solid var(--tg-theme-button-color);
        //
        //    &.categories-section__item_active {
        //        background-color: var(--tg-theme-button-color);
        //    }
        //}
        //
        //&_light {
        //    color: var(--tg-theme-button-color);
        //    background-color: #dfe5ef;
        //
        //    &.categories-section__item_active {
        //        color: #ffffff;
        //        background-color: var(--tg-theme-button-color);
        //    }
        //}

        &_dark {
            border: 1px solid #ffffff;

            &.categories-section__item_active {
                background-color: #ffffff;
                color: #222222;
            }
        }

        &_light {
            color: #333333;
            border: 1px solid #333333;

            &.categories-section__item_active {
                color: #ffffff;
                background-color: #333333;
            }
        }
    }

    &__item-title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.2rem;
        white-space: nowrap;
    }

    &__item-price {
        font-size: 0.8rem;
        font-weight: 600;
        white-space: nowrap;
    }
}
